body {
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', serif;
    font-size: 1.2em;
}

h1 {
    color: #1B262C;
    font-family: 'Gabriela', serif;
    font-size: 3.75rem;
    margin: 50px auto 0 auto;
}

h2 {
    color: #323232;
    font-weight: normal;
    font-size: 2.5rem;
}

h3, h4 {
    color: #323232
}

hr {
    border-color: #74959A;
    border-style: dotted none none;
    border-width: 10px;
    margin: 100px auto;
    width: 5%;
}

a {
    color: #11999E;
    display: inline-block;
    text-decoration: none;
}

.top-div {
    padding: 50px 0;
    background-color: #E3FDFD;
}

.middle-div {
    padding: 50px 0;
    background-color: #CBF1F5;
    /*padding-bottom: 50px;*/
}

.bottom-div {
    background-color: #66BFBF;
    padding-top: 50px;
}

.intro {
    width: 50%;
    position: relative;
    left: 25%;
}

.pro {
    text-decoration: underline;
}

.bottom-cloud {
    position: absolute;
    left: 120px;
}

.top-cloud {
    position: relative;
    left: 200px;
}

.me {
    height: 10%;
    width: 10%;
    border-radius: 100%;
}

.python-logo, .gaming-logo {
    height: 20%;
    width: 20%;
    float: left;
    margin-right: 30px;
}

.gaming-logo {
    border-radius: 100%;
    float: right;
    margin-left: 30px;
    height: 120%;
    width: 30%;
}

.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}

.copyright {
    color: #E3FDFD;
}

.footer-link {
    padding: 20px;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  border-radius: 28px;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
